{% extends "base_generic.html" %}

{% block head %}
    {{ block.super}} 
    {{ form.media }}
{% endblock %}


{% block content %}
    {% for error_field, error_message in form.errors.items %}
        {{ error_field|striptags }}: {{ error_message|striptags }}
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <div class="col-sm-8">
                    <label for="{{ form.title.id_for_label}}"><strong>Title</strong></label><br>
                    {{ form.title }}
                </div>
                <div class="col-sm-4">
                    <br>
                    <p>Date: {{date}}  Time:{{form.entry_time}}</p> 
                </div>
            </div>            
        </div>

        <div class="form-group">
            {{form.content}}
        </div>
        <input type="submit" value= "Submit">
    </form>
{% endblock %}