{% extends "base_generic.html" %}

{% block content %}
    <h3>Entry List - {{test}}</h3>
    
    {% if entry_list %}
        <ul>
            {% for entry in entry_list %}
                <li>
                    <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no entries yet.. </p> 
        <!-- add link to homepage -->
    {% endif %}
    <a class="btn btn-info" href="{% url 'entry-create'  %}?date={{view.kwargs.date}}">
        New Entry
    </a>
{% endblock %}