{% extends "base_generic.html" %}

{% block head %}
    {{ block.super}}
    {{ form.media }}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %} 
        <h4>Hi {{user}}!</h4>
    {% endif %}
    <p>Welcome to your safe space. Write anything to your hearts content and let it all out.</p>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.title.id_for_lable}}">Title</label><br>
            {{ form.title }}
        </div>

        <div class="form-group">
            {{form.content}}
        </div>

        <input class="btn btn-primary" type="submit" value="Submit" >
    </form>
{% endblock %}