*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html, body{min-height:100%;}

body{
  height:100vh;
  background-color:hsl(197, 37%, 24%) !important;
}

.sidebar-nav{
  margin-top:20px;
  list-style: none;
}


.link{
  color:#f4a261;
}

.link:hover{
  color:#e9c46a;
}

.sidebar-line{
  margin-top:15%;
  height: 1px;
  background-color: #e76f51;
  border: none;
}


.main-header{
  padding:  1.4% 0px .5% 1.4%;
  background-color:#e76f51;
  color: hsl(197, 37%, 24%);
}

.main-container{
  background-color:hsl(197, 37%, 24%);
  color: #f4a261;

}
.sidebar-container{
  border-right: #e76f51  2px solid;
}


.content-container{
  background-color:hsl(197, 37%, 24%);
  padding: 1.5% 0 1.5% 1.5%;
}

/* Overide bootstrap button primary */
.btn-color{
  background-color: #e76f51;
  color: hsl(197, 37%, 24%);
}
.btn-color:hover{  
  background-color: #f4a261;
  color: #2a9d8f;
}


.login-content{
  padding-top:5%;
}
.btn-group{
  padding-left: 10%;
}


.form-links{
  padding: 1.5% 0 0 5% ;
}

/* Mobile css */
@media only screen and (max-width: 760px) {
  .sidebar-container{
    border-right: none;
  }

  
.sidebar-nav{
  margin-top:20px;
  list-style: none;
  padding: 0px 0px 5% 0px;
  border-bottom: 2px solid #e76f51;
}

.sidebar-line{
  margin-top: 5%;
}

}